#root {
  margin: 0 auto;
}

header {
  background-image: url("../assets/images/pixels.png");
  background-repeat: no-repeat;
  padding: 50px 0;
}

.nav-link {
  position: relative;
  display: inline-block;
  padding: 0.5em 1em;
}

.nav-link::before {
  content: "";
  position: absolute;
  top: 0px;
  left: 0px;
  right: 10px;
  bottom: 20px;
  background-color: #edd923;
  z-index: -1;
}
