#root {
  margin: 0 auto;
}

header {
  background-image: url("../assets/images/pixels.png");
  background-repeat: no-repeat;
  padding: 50px 0;
}

.nav-link {
  position: relative;
  display: inline-block;
  padding: 0.5em 1em;
}

.nav-link::before {
  content: "";
  position: absolute;
  top: 0px;
  left: 0px;
  right: 10px;
  bottom: 20px;
  background-color: #edd923;
  z-index: -1;
}

footer {
  position: relative;
  overflow: hidden;
}

footer::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url("../assets/images/pixels.png");
  background-repeat: no-repeat;
  background-position-x: left;
  transform: scaleX(-1);
  z-index: -1;
}

.icon {
  max-width: 25px;
}

h1 {
  font-size: 1rem;
}

.intro {
  padding: 30px;
}

.portrait {
  height: 250px;
  max-width: 250px;
}

.intro-text {
  height: 250px;
  max-width: 250px;
  overflow-y: scroll;
  scrollbar-color: #edd923 #fff;
  scrollbar-width: thin;
}

.badges {
  margin: 5px;
}

.product-card {
  max-width: 600px;
  margin: 40px auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.card-img-top {
  border: 1px solid #000;
  border-radius: 5px;
  max-width: 400px;
}

.fade-in-section {
  opacity: 0;
  transform: translateY(20vh);
  visibility: hidden;
  transition: opacity 1200ms ease-out, transform 600ms ease-out,
    visibility 1200ms ease-out;
  will-change: opacity, transform, visibility;
}

.fade-in-section.is-visible {
  opacity: 1;
  transform: none;
  visibility: visible;
}

@media (min-width: 320px) {
  .portrait {
    height: 300px;
    max-width: 300px;
  }

  .intro-text {
    height: 300px;
    max-width: 300px;
  }
}

@media (min-width: 768px) {
  .portrait {
    height: 400px;
    max-width: 400px;
  }

  .intro-text {
    height: 400px;
    max-width: 400px;
  }
}

@media (min-width: 992px) {
  .intro {
    margin: 150px auto;
  }

  .portrait {
    height: 400px;
    max-width: 400px;
  }

  .intro-text {
    height: 350px;
    max-width: fit-content;
  }
}

@media (min-width: 1400px) {
  .intro {
    max-width: 1500px;
  }
}
